<section id="aboutus">
  <div class="aboutus">
    <div class="content">
      <div class="heading">
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="main-image">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: 'master' }}">
        {% endif %}
      </div>
      <div class="subheading">
        <h3>{{ section.settings.subheading }}</h3>
      </div>
      <div class="desc">
        <p>{{ section.settings.desc }}</p>
      </div>
      <div class="talk">
        <p>
          {{ section.settings.talkabout }}
          <a class="email" href="mailto:hi@afternoonlight.com">hi@afternoonlight.com</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "About Us"
    },
    {
      "type": "text",
      "id": "talkabout",
      "label": "Talk About"
    }
  ],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
