<section id="hempzSection">
  <div class="hempzSection">
    <h3>FIND YOUR NEXT FAVORITE</h3>

    <div class="tabs-section">
      <p>New & Limited Editions</p>
      <p>Best Sellers</p>
    </div>
    <div class="product-section-one">
      {% assign block = section.blocks %}
      {% assign collection = collections[block.settings.collectionOne] %}
      {% for collect in collection %}
        <div class="product-item">
          <div class="product-img">
            <img src="{{ collect | img_url:"master" }}" alt=" ">
          </div>
          <div class="product-desc">
            <p class="prod-title">{{ collections.title }}</p>
            <p class="prod-price">{{ collections.price }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="product-section-two">
      {% assign collection_main = collections[blocks.settings.collectionTwo] %}
      {% for product in collection_main.products %}
        <div class="product-item">
          <div class="product-img">
            <img src="{{ product | img_url:"master" }}" alt=" ">
          </div>
          <div class="product-desc">
            <p class="prod-title">{{ product.title }}</p>
            <p class="prod-price">{{ product.price | money_with_currency }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="shopall-btn">
      <a href="#" class="shopallnew">Shop All New</a>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Hempz Section",
  "tag": "section",
  "class": "section",
  "settings": [
         {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
                     {
      "type": "collection",
      "id": "collectionTwo",
      "label": "Collection Two"
    }
  ],
  "blocks": [
    {
      "name": "Product Collection One",
      "type": "ProductCollectionOne",
      "settings": [
                 {
      "type": "collection",
      "id": "collectionOne",
      "label": "Collection One"
    }
      ]
    },
    {
      "name": "Product Collection Two",
      "type": "ProductCollectionTwo",
      "settings": [
                 {
      "type": "collection",
      "id": "collectionTwooo",
      "label": "Collection Two"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hempz Section",
      "settings": {
      }
    }
  ]
}
{% endschema %}
