<section id="hempzSection">
  <div class="hempzSection">
    <h3>FIND YOUR NEXT FAVORITE</h3>

    <div class="tabs-section">
      <p class="active-tab">New & Limited Editions</p>
      <p class="">Best Sellers</p>
    </div>
    <div class="product-section-one">
      {% assign collection_one = collections[section.settings.collectionOne] %}
      {% for collectionOne in collection_one.products %}
        <div class="product-item">
          <div class="product-img">
            <img src="{{ collectionOne | img_url:"master" }}" alt=" ">
          </div>
          <div class="product-desc">
            <p class="prod-title">{{ collectionOne.title }}</p>
            <p class="prod-price">{{ collectionOne.price }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="product-section-two">
      {% assign collection_two = collections[section.settings.collectionTwo] %}
      {% for product in collection_two.products %}
        <div class="product-item">
          <div class="product-img">
            <img src="{{ product | img_url:"master" }}" alt=" ">
          </div>
          <div class="product-desc">
            <p class="prod-title">{{ product.title }}</p>
            <p class="prod-price">{{ product.price | money_with_currency }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="shopall-btn">
      <a href="#" class="shopallnew">Shop All New</a>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Hempz Section",
  "tag": "section",
  "class": "section",
  "settings": [
         {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
                     {
      "type": "collection",
      "id": "collectionOne",
      "label": "Collection One"
    },
                    {
      "type": "collection",
      "id": "collectionTwo",
      "label": "Collection Two"
    }
  ],
  "presets": [
    {
      "name": "Hempz Section",
      "settings": {
      }
    }
  ]
}
{% endschema %}
