{{ page_title }}
{{ all_products['fancy-shoes'].title }}

{% assign article = articles['news/new-products'] %}
{{ article.title | link_to: article.url }}

{{ canonical_url }}

{% for collection in collections %}
  {{ collection.title -}}
  <br>
{% endfor %}

{{ page_title }} - Page: {{ current_page }}

{% if handle contains 'hide-from-search' %}
  <meta name="robots" content="noindex">
{% endif %}
{% assign image = images['logo.png'] %}
<img src="{{ image }}" alt="{{ image.alt }}">

<ul>
  {% for link in linklists['main-menu'].links %}
    <li>{{ link.title | link_to: link.url }}</li>
  {% endfor %}
</ul>

<p>{{ page_description }}</p>
{% schema %}
{
  "name": "Liquid Objects",
  "settings": [
    {
      "id": "liq-obj",
      "type": "text",
      "label": "adding new text"
    }
  ],
  "presets": [
    {
      "name": "Liquid Objects"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
