<h1>{{ section.settings['liq-obj'] }}</h1>

{{ page_title }}
{{ all_products['fancy-shoes'].title }}
<br>
{% assign article = articles['news/new-products'] %}
{{ article.title | link_to: article.url }}
<br>
{{ canonical_url }}
<br>

{% assign collection = section.settings.collection %}
{% for collection in collections %}
  {{ collection.title -}}
  <br>
{% endfor %}

{{ page_title }} - Page: {{ current_page }}

{% if handle contains 'hide-from-search' %}
  <meta name="robots" content="noindex">
{% endif %}
{% assign image = images['logo.png'] %}
<img src="{{ image }}" alt="{{ image.alt }}">

<ul>
  {% for link in linklists['main-menu'].links %}
    <li>{{ link.title | link_to: link.url }}</li>
  {% endfor %}
</ul>

<p>{{ page_description }}</p>
<h1>{{ pages.about.title }}</h1>
<p>By {{ pages.about.author }}</p>
<div>{{ pages.about.content }}</div>

{% if request.host == 'myshop.com' %}
  Welcome USA!
{% elsif request.host == 'myshop.ca' %}
  Welcome Canada!
{% else %}
  Welcome!
{% endif %}

{% if scripts.cart_calculate_line_items %}
  <p>We are running a {{ scripts.cart_calculate_line_items.name }} promotion!</p>
{% endif %}

{% if settings.use_logo %}
  {{ 'logo.png' | asset_url | img_tag: shop.name }}
{% else %}
  <span class="no-logo">{{ shop.name }}</span>
{% endif %}

{{ collection.all_products_count }} total products in this collection

{% for product_type in collection.all_types %}
  {{ product_type | link_to_type }}
{% endfor %}

{% for product_vendor in collection.all_vendors %}
  {{ product_vendor | link_to_vendor }}
{% endfor %}

{% if collection.current_type %}
  We are on an automatic product type collection page. The product type is {{ collection.current_type }}.
{% endif %}

{% if collection.current_vendor %}
  We are on an automatic vendor collection page. The vendor is {{ collection.current_vendor }}.
{% endif %}

{% if collection.image %}
  <img src="{{ collection.image | img_url: 'medium' }}" alt="">
{% endif %}

{{ collection.all_products_count }}
{{ collection.all_products_count | pluralize: 'Item', 'Items' }} total
<br>
{% if collection.sort_by %}
  Sort by: {{ collection.sort_by }}
{% endif %}
<br>
<select name="sort_by">
  {% for option in collection.sort_options %}
    <option value="{{ option.value }}">{{ option.name }}</option>
  {% endfor %}
</select>
<br>
{{ collection.template_suffix }}
<br>
<h1>{{ collection.title }}</h1>
<br>
<p>{{ content_for_header }}</p>
<p>{{ content_for_index }}</p>
<p>{{ content_for_layout }}</p>

{% assign models = product.media | where: 'media_type', 'model' %}
{% for model in models %}
  {{ model.alt }}
{% endfor %}

Hello, {{ billing_address.name }}

{{ shipping_address.street }}

{% for tag in blog.all_tags %}
  {{ tag }}
{% endfor %}

{% for article in blog.articles %}
  <h2>{{ article.title }}</h2>
{% endfor %}

{% for address in customer.addresses %}
  {{ address.street }}
{% endfor %}

{{ linklists.main.title }}

{% for link in linklists.main.links %}
  {{ link.title }}: child_active: {{ link.child_active }}
  {% for sub_link in link.links %}
    {{ sub_link.title }}: child_active: {{ sub_link.child_active }}
    {% for sub_sub_link in sub_link.links %}
      {{ sub_sub_link.title }}: active: {{ sub_sub_link.active }}
    {% endfor %}
  {% endfor %}
{% endfor %}
{{ cart.attributes['your-pet-name'] }}

{{ cart.currency.iso_code }}

{{ cart.item_count }}
{{ cart.item_count | pluralize: 'Item', 'Items' }} ({{ cart.total_price | money }})
{{ comment.created_at | date: '%b %d, %Y' }}

{% if checkout.buyer_accepts_marketing %}
  Thank you for subscribing to our newsletter. You will receive our exclusive newsletter deals!
{% endif %}

{% for discount_application in checkout.discount_applications %}
  Discount name: {{ discount_application.title }} Savings: -{{ discount_application.total_allocated_amount | money }}
{% endfor %}

{% for discount in checkout.discounts %}
  * {{ discount.code }}: {{ discount.amount | money }}
{% endfor %}

You save: {{ checkout.discounts_amount | money }}

{% if checkout.requires_shipping %}
  You will receive an email with your shipment tracking number as soon as your order is shipped.
{% endif %}

<h2>{{ section.settings.heading }}</h2>
<a href="{{ section.settings.featured_collection.url }}">This week's best selling items</a>

<ul>
  {% for product_option in product.options_with_values %}
    <li>{{ product_option.name }}</li>
  {% endfor %}
</ul>

<ul>
  {% for product_option in product.options_with_values %}
    <li>{{ product_option.position }} - {{ product_option.name }}</li>
  {% endfor %}
</ul>

<select>
  {% for value in product_option.values %}
    <option
      {% if product_option.selected_value == value %}
        selected
      {% endif %}
    >
      {{ value }}
    </option>
  {% endfor %}
</select>

<ul>
  {% for value in product_option.values %}
    <li>{{ value }}</li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Liquid Objects",
  "settings": [
    {
      "id": "liq-obj",
      "type": "text",
      "label": "adding new text"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "New Collection"
    }
  ],
  "presets": [
    {
      "name": "Liquid Objects"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
