<h1>{{ section.settings['liq-obj'] }}</h1>

{{ page_title }}
{{ all_products['fancy-shoes'].title }}
<br>
{% assign article = articles['news/new-products'] %}
{{ article.title | link_to: article.url }}
<br>
{{ canonical_url }}
<br>
{% for collection in collections %}
  {{ collection.title -}}
  <br>
{% endfor %}

{{ page_title }} - Page: {{ current_page }}

{% if handle contains 'hide-from-search' %}
  <meta name="robots" content="noindex">
{% endif %}
{% assign image = images['logo.png'] %}
<img src="{{ image }}" alt="{{ image.alt }}">

<ul>
  {% for link in linklists['main-menu'].links %}
    <li>{{ link.title | link_to: link.url }}</li>
  {% endfor %}
</ul>

<p>{{ page_description }}</p>
<h1>{{ pages.about.title }}</h1>
<p>By {{ pages.about.author }}</p>
<div>{{ pages.about.content }}</div>

{% if request.host == 'myshop.com' %}
  Welcome USA!
{% elsif request.host == 'myshop.ca' %}
  Welcome Canada!
{% else %}
  Welcome!
{% endif %}

{% if scripts.cart_calculate_line_items %}
  <p>We are running a {{ scripts.cart_calculate_line_items.name }} promotion!</p>
{% endif %}

{% if settings.use_logo %}
  {{ 'logo.png' | asset_url | img_tag: shop.name }}
{% else %}
  <span class="no-logo">{{ shop.name }}</span>
{% endif %}

{{ collection.all_products_count }} total products in this collection

{% for product_type in collection.all_types %}
  {{ product_type | link_to_type }}
{% endfor %}

{% for product_vendor in collection.all_vendors %}
  {{ product_vendor | link_to_vendor }}
{% endfor %}

{% if collection.current_type %}
  We are on an automatic product type collection page. The product type is {{ collection.current_type }}.
{% endif %}
{% schema %}
{
  "name": "Liquid Objects",
  "settings": [
    {
      "id": "liq-obj",
      "type": "text",
      "label": "adding new text"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "New Collection"
    }
  ],
  "presets": [
    {
      "name": "Liquid Objects"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
